@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,100&display=swap');

.option{
    background-color: white;
    padding: 2rem;
    border-radius: 5px;
    width: 39vw;
    border: none;
    margin-right: 5rem;
    margin-bottom: 8vh;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  
    
}
.result-header{
 width: 50vw;
 font-size: 5ch;
 text-align: justify;
 margin-right: 8rem;
 flex-wrap: wrap;

}
.result-header span{
    font-size: 0.7ch;
    color: rgba(189, 188, 188, 0.651);
}

.result-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}



.display{
    font-family: 'Popins', sans-serif;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    height: 25rem;
    width: 17vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 6px;
    margin-top: 2.5rem;
    margin-bottom: -2rem;
   
}
.vote-data{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.vote-data span{
    color:gray;
    text-align: justify;
    font-size: 2ch;
}
.vote-data h2{
    font-size: 4ch;
}
.vote-data hr{
    width:17vw;
    
}

.submit-vote{
    background-color: #40da7b;
    color: white;
    padding: 1.6rem 5.4rem;
    border-radius: 10px;
    font-size: 2ch;
    transition: all 1s ;
}
.submit-vote:hover{
    background-color: #38bd6b;
}
.option span{
    margin-left: 0.6rem;
}
.share-links{
    padding-left: 0rem;
    display: flex;
    flex-direction: column;
    text-align: justify;
}
.share-links div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.share-links span{
    
    font-weight: 600;
    margin-top: -2rem ;
    margin-bottom: 1rem;
    color: rgba(0, 0, 0, 0.438);
}

.share-links a{
    cursor: pointer;
    background: none;
    border: none;
    font-size: 1.6ch;
    font-weight: 400;
    transition: 1s all ;
    margin-bottom: 0.7rem;
}
.whatsapp-link {
    cursor: pointer;;
    font-size: 1.85ch;
    font-weight: 400;
    transition: 1s all ;
    margin-bottom: 1rem;
    color: #1ad956;
}
.whatsapp-link:hover{
    color: #1ad957a8;
}
.twitter-link{
    cursor: pointer;;
    font-size: 1.85ch;
    font-weight: 400;
    transition: 1s all ;
    margin-bottom: 1rem;
    color: #04abec;
}
.twitter-link:hover{
    color: #04aaec9f;
}
#QR-code{
    cursor: pointer;;
    font-size: 1.75ch;
    font-weight: 400;
    transition: 1s all ;
    margin-bottom: 1rem;
    color: #9d72fe;
}
#QR-code:hover{
    color:#9c72fe77;
}
.share-links button:hover{
    color: #ffb56fc5;
}

.vote-alert{
    height: 4.5rem;
    font-size: 1.6ch;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    margin-bottom: -1.7rem;
    border-radius: 5px;
    background-color: rgb(166, 212, 255);
}

.vote-alert i{
    font-size: larger;
    margin: 0.4rem;
}
.highest-vote{
    margin-left: 2rem;
    border: 3.4px solid rgba(59, 219, 59, 0.616);
    box-shadow: rgba(0, 255, 76, 0.253) 0px 7px 29px 0px;
}

.copy{
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-bottom: 1.5rem;
    background-color: rgb(233, 233, 233);
    
}


.copy button{
    cursor: pointer;
    background-color: rgb(0, 132, 255);
    color: white;   
    padding: 0.4rem;
    border: none;
    border-radius: 3px;
    margin-left: 1.3rem;
    font-size: 1.5ch;
    font-weight: 600;
    transition: all 1s;
}
.copy button:hover{
    background-color: rgb(4, 114, 218);
}
.close:hover{
    background-color: #636363;
    color: white;
    border-radius: 50%;
}
.copy p{
    font-size: 1.4ch;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.603);
}

.link-label{
    font-size: 1.5ch;
    margin-top: 2rem;
}

.close{
    margin-left: 98%;
    margin-bottom: 0;
}

.share-links2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.share-modal-header{
    font-size: 3.4ch;
    text-align: center;
}

.share-links2 span{
    font-weight: 600;
    font-size: 2ch;
    margin-bottom: 2rem;
    margin-top: 1.5rem;
    color: gray;
}

.share-links2 button{
    cursor: pointer;
    background: none;
    border: none;
    margin-top: -1rem;
    color: rgb(255, 130, 13);
    font-size: 2.3ch;
}
.results p{
    width: 9rem;
    font-size: 1.5ch;
    text-align: center;
    color: rgba(0, 0, 0, 0.466);
    padding: 0.5rem;
    border-radius: 5px;
    font-weight: 650;
}

.QR-header h2{
    font-size: 3.5ch;
    margin: 0;
}
.QR-header p{
    color: rgba(0, 0, 0, 0.281);
    font-weight: 500;
}

.QR-toggle{
    font-weight: 700;
    cursor: pointer;
    border: none;
    border-radius: 0.3rem;
    width: 12vw;
    padding: 0.85rem;
    margin-top: 1rem;
    font-size: 1.6ch;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4198fe;
    transition: all 1s ;
}
.QR-toggle:hover{
    background-color: #3577c2;
}

