
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=League+Spartan:wght@100;300;400;500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');
.poll-header{
    font-size: 3.5ch;
    margin:0
}
.polls p{
    font-size: 2ch;
    margin-bottom: 4rem;
}
.poll-container{
    background-color: white;
    cursor: pointer;
    padding: 4rem;
    border-radius: 5px;
    width: 45vw;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 4rem;
    transition: all 0.9s ease-in-out;
}
.poll-container:hover{
    box-shadow: rgba(30, 40, 53, 0.096) 0px 22px 70px 4px;
}

.poll-container h2{
    font-size: 3.5ch;
}
.vote-count{
    opacity: 60%;
    background-color: #f7fffb;
    border: 3.5px solid greenyellow;
    width: 5rem;
    border-radius: 130px;
    font-weight: 600;
    padding: 0.9rem;
    margin-top: -5.6rem;
    margin-left: -5rem;
}
.polls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.poll-container .tag{
    background-color: rgba(192, 131, 250, 0.329);
    font-size: 1.5ch;
    width: 19%;
    text-align: center;
    color: rgba(0, 0, 0, 0.795);
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    font-weight: 650;
    font-family: 'Poppins', sans-serif;
    
}
